@import "main.css";
@import "user.css";

.border-bottom {
    border-bottom: 1px solid #E2E2E2;
}

.blue-background {
    background-color: rgb(138 152 202);
}

.red-background {
    background-color: rgb(225 120 120);
}

.grey-background {
    background-color: rgb(202 202 202);
}

.yellow-background {
    background-color: rgb(242 172 87);
}
